<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!-- Use AppRegNew.aspx and AppInv.aspx to register client id with secret -->
    <add key="ClientId" value="7cd97a8d-9dd6-4116-84e3-34b29a7f1cb4" />
    <add key="ClientSecret" value="jfzgKPEjHbTieyNmZu63PCQQayHfHYvyeR0bLM6tYPY=" />
  </appSettings>
</configuration>