<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AppForSharePointOnlineWebToolkit" version="3.1.5" targetFramework="net472" />
  <package id="AppForSharePointOnlineWebToolkit.Compiled" version="3.1.4.25" targetFramework="net472" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="6.8.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.8.0" targetFramework="net472" />
  <package id="Microsoft.SharePointOnline.CSOM" version="16.1.20720.12000" targetFramework="net472" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net472" />
</packages>